<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="../css/1tushar.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="header">
  <a href="#default" class="logo">Unknown</a>
  <div class="header-right">
    <a class="active" href="#home">Home</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  </div>
</div>

<div class="container">


  <div class="column column-one">
<img src="../img/img1.jpeg" width="300" height="300">
<p>lorem</p>
</div>
  <div class="column column-two">
<img src="../img/img2.jpg" width="300" height="300">
<p>lorem</p>
</div>
  <div class="column column-three">
    <img src="../img/img3.jpg" width="300" height="300">
    <p>lorem</p>
  </div>
  </div>

  <div class="container1">
    <img src="../img/hero.jpeg" width="100%" height="100%">
    <p>lorem</p>
  </div>
  <div class="row-one">
    <div class="column-four">
      <img src="../img/img1.jpeg" width="300" height="300">
      <p><b> Scene 0 </b></p>
    </div>
    <div class="column-five">
      <div class="row-two">
        <img src="../img/img1.jpeg" width="200" height="100">
        <p><b>scene 1 </b></p>
      </div>
      <div class="row-two">
        <img src="../img/img1.jpeg" width="200" height="100">
        <p><b>scene  2</b></p>
      </div>
      <div class="row-two">
        <img src="../img/img1.jpeg" width="200" height="100">
        <p><b>scene 3</b></p>
      </div>
    </div>
  </div>

<footer>
  <div>
    <p style="text-align:center">
<!--Facebook icon-->
<a href="http://facebook.com/flashissue" target="_blank"><img alt="" src="https://s3.amazonaws.com/flashissue/ueBIjxRoTBuYR6XWW1iO_v3qVW5nRUq5VZF9RQXi2_twitter.png" /> </a>&nbsp; &nbsp; &nbsp;
<!--Google+ icon-->
<a href="http://plus.google.com" target="_blank"><img alt="" src="https://s3.amazonaws.com/flashissue/gHd2XoyiQbKBqljm7bzg_63j3xtd7SX28TTMeOSfZ_google.png" /> </a>&nbsp; &nbsp;&nbsp;
<!--Twitter icon-->
<a href="http://twitter.com/flashissue" target="_blank"><img alt="" src="https://s3.amazonaws.com/flashissue/MsIJsIsDT9WLAxxH4aIK_OgdHV3vxSR2737LGd8cq_facebook.png" /> </a>&nbsp; &nbsp;&nbsp;
<!--Linkedin icon-->
<a href="http://pinterest.com" target="_blank"><img alt="" src="https://s3.amazonaws.com/flashissue/b8Xt2lN8TCKhilmoHXGW_TCjqF6FgS86WoWzUOQCh_pinterest.png" /> </a>
</p>
  </div>
</footer>

  </body>
</html>
